<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <appSettings>
    <add key="AppKey" value="4041105405"/>
    <add key="AppSecret" value="4a9bdc0113bca23690c7a949825c5144"/>
    <add key="CallbackUrl" value="http://127.0.0.1:50658/MyWeibo/Login.aspx"/>
  </appSettings>
</configuration>